::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #e2e2e2;
}
::-webkit-scrollbar-thumb {
  background: #888888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555555; 
}

.card-wrapper {
  padding: 0.5rem;

  .card-img {
    margin: 0 auto;
  }

  .card-title {
    .ant-card-meta-title {
      color: #5f6c84;
    }
  }
}

.comment-wrapper {
  margin-bottom: 2rem;

  .comment-content {
    padding-left: 2rem;

    .author-name {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .author-email {
      color: #0068C5;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .author-body {
      color: #5f6c84;
    }
  }
}

.comments-scrollmaker {
  height: 60%;
  max-height: 500px;
  overflow-y: auto;
}

.ant-list-pagination {
  text-align: center;
}